<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Build" value="Debug" />
    <add key="endpoint" value="http://eis-qa-ml-01:8737/EISQA19C/QA_MAINLINE_ENT1/IRitaWcf" />
    <add key="Auth0:Domain" value="eis-development.us.auth0.com" />
    <add key="Auth0:ClientId" value="Th1IDPI7BsTDWur44wfhJwkHRJsgUEVo" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="conString" connectionString="Data Source=SALIMDEV-WIN10;Initial Catalog=APITESTData;Integrated Security=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.5.0" newVersion="3.21.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRitaWcf" />
        <binding name="AccountingSoap" />
        <binding name="AircraftOwnershipSoap" />
        <binding name="SessionSoap" />
        <binding name="CompanyDatabaseSoap" />
        <binding name="WorkOrderSoap" />
        <binding name="UserManagementSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/accounting.asmx" binding="basicHttpBinding" bindingConfiguration="AccountingSoap" contract="Accounting.AccountingSoap" name="AccountingSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/aircraftownership.asmx" binding="basicHttpBinding" bindingConfiguration="AircraftOwnershipSoap" contract="Aircraftownership.AircraftOwnershipSoap" name="AircraftOwnershipSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/session.asmx" binding="basicHttpBinding" bindingConfiguration="SessionSoap" contract="Session.SessionSoap" name="SessionSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/customerdatabase.asmx" binding="basicHttpBinding" bindingConfiguration="CompanyDatabaseSoap" contract="CompanyDatabase.CompanyDatabaseSoap" name="CompanyDatabaseSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/workorder.asmx" binding="basicHttpBinding" bindingConfiguration="WorkOrderSoap" contract="WorkOrder.WorkOrderSoap" name="WorkOrderSoap" />
      <endpoint address="http://eis-qa-ml-01:8737/EISQA19C/QA_MAINLINE_ENT1/IRitaWcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRitaWcf" contract="RitaWcf.IRitaWcf" name="BasicHttpBinding_IRitaWcf" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/usermanagement.asmx" binding="basicHttpBinding" bindingConfiguration="UserManagementSoap" contract="UserManagement.UserManagementSoap" name="UserManagementSoap" />
    </client>
  </system.serviceModel>
</configuration>